body {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

.valentine-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.valentine-form:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("./assets/images/pattern.jpg");
    background-size: cover;
    z-index: -1;
    filter: saturate(1);
    opacity: 0.3;
}

.happy .valentine-form:after {
    animation: beat 0.2s infinite alternate;
    transform-origin: center;
}

@keyframes beat {
    to {
        transform: scale(1.02);
    }
}

.gifs {
    max-width: 150px;
    margin-inline: auto;
}

.gifs img {
    width: 100%;
    aspect-ratio: 1/1;
}

.valentine-form .form-wrap {
    box-sizing: border-box;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    max-width: 450px;
    height: 450px;
    min-width: 320px;
    width: 80%;
    margin-inline: auto;
    background-color: #f2f5f8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    z-index: 0;
    overflow: hidden;
    position: relative;
    transition: 0.8s ease-in-out;
    display: none;
}

.valentine-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.question-wrap {
    align-items: center;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-btns {
    display: inline-flex;
    gap: 10px;
}

.action-btns span {
    cursor: pointer;
    padding: 8px 30px;
    border: 1px solid #e3e3e3;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s ease-in-out;
}

.action-btns .yes-btn {
    background-color: #33c67a;
}

.action-btns .yes-btn::after {
    background: url("./assets/images/happy-customer.gif");
    content: "";
    background-size: contain;
    mix-blend-mode: darken;
    transition: 0.5s ease-in-out;
    height: 50px;
    width: 50px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.action-btns .yes-btn:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -120%) scale(1.5);
}

.action-btns .no-btn {
    background-color: #c84343;
}

.action-btns .no-btn:hover::after,
.reject .action-btns .no-btn::after {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -120%) scale(1.5);
}

.action-btns .no-btn::after {
    background: url("./assets/images/why.gif");
    content: "";
    background-size: contain;
    mix-blend-mode: darken;
    transition: 0.2s ease-in-out;
    height: 50px;
    width: 50px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.question-count {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.question-count .active-question {
    font-size: 30px;
    font-weight: 700;
}

.gifs img {
    display: none;
}

.accepted .accept-tenor {
    display: block;
}

.valentine-message {
    display: none;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.complete .question-wrap {
    display: none;
}

.complete .valentine-message {
    display: block;
}

.valentine-message img {
    width: 150px;
    mix-blend-mode: darken;
    margin-inline: auto;
    transition: scale 2s ease-in-out;
    transform: scale(0);
    transition-delay: 2s;
}

.complete .valentine-message img {
    transform: scale(1);
}

.complete span {
    display: none;
    transform: translateX(100%);
}

.complete .gifs {
    display: none;
}

.complete .question-count {
    display: none;
}

.kpop {
    width: 80px;
    mix-blend-mode: darken;
    margin-inline: auto;
    transition: scale 2s ease-in-out;
}

.complete .kpop {
    transform: scale(1);
}

.form-bg {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -2;
}

.form-bg img {
    height: 100%;
    width: 100%;
}

.form-bg-overlay {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background: #f2f5f8;
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.click-me button {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    animation: floatUpDown 2s ease-in-out infinite;
}

.click-me button:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0px) scale(1);
    }

    50% {
        transform: translateY(-10px) scale(1.1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}